<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <title>Property Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #9c9eca;
        }
        
        h1 {
            font-family: 'Concert One', cursive;
            color: #2c2424;
            font-size: 24px;
            color: #2c2424;
            margin-top: 30px;
        }

        p {font-family: 'Concert One', cursive;
            color: #2c2424;
            font-size: 18px;
            color: #2c2424;
        }    
    </style>
</head>
<body>
    <h1>Property Infomration</h1>
    <p>UNDER CONTRUCTION</p>
</body>
</html>